<section>
  <h1>About Us</h1>
  <div style="margin-top: 10px">
    <a target="_blank" href="http://corp.beatrobo.com"><img class="no_border" src="/images/beatrobo_logo.png" width="200" height="43" /></a>
  </div>

  <div>
    <a target="_blank" href="http://www.plugair.com"><img class="no_border" src="/images/plugair_logo.png" width="140" height="38" /></a>
  </div>

  <p>
  Beatrobo, Inc.では、ソーシャル ミュージック サービス「<a href="https://www.beatrobo.com" target="_blank">Beatrobo</a>」や、インスタント コンテンツ メディア「<a href="https://www.plugair.com" target="_blank">PlugAir</a>」の開発・運営をしています。
  <span style=""><br/>このブログでは、iOS, Androidアプリやインフラに関することはもちろん、ハードウェア開発や量産に関しての情報を発信していきます。</span>
  </p>

</section>
