<section>
  <h1>Hiring</h1>

  <div style="margin-top: 15px;">
    <a href="/jobs"><img class="no_border" src="/images/hiring.png" width="200" height="110" /></a>
  </div>

  <div>
    現在 <a href="https://corp.beatrobo.com" target="_blank">Beatrobo</a> では、以下の職種の正社員/アルバイト/インターンを募集中です！いっしょに <a href="https://www.plugair.com" target="_blank">PlugAir</a> の未来を創っていきましょう！<br/>
  <div style="margin: 10px; padding: 0px;">
    ・サーバーサイドエンジニア<br/>　(PHP, AWS)<br/>
    ・アプリエンジニア<br/>　(iOS, Android, Windows8.1)<br/>
  ・ハードウェアエンジニア<br/>　(電気回路設計、3Dモデル設計)<br/>
  ・プロジェクトマネージャ<br/>
  </div>
  詳細は <a href="/jobs">採用ページ</a> をご覧ください。<br/>
  お問い合わせは <a href="mailto:jobs@beatrobo.com">jobs@beatrobo.com</a> までお気軽に！
  </div>

</section>
